<a href="http://localhost:5000/" class="btn btn-secondary">Logout</a>
  <div class="row mt-5" style="margin-right: 100px;">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-plus"></i> <%= name %>
        </h1>
        

        
        <form action="/dashboard" method="POST">

          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              
            />
          </div>

          <div class="form-group">
            <label for="beds">Number of beds available</label>
            <input
              type="number"
              id="name"
              name="beds"
              class="form-control"
              placeholder="Enter total number of beds available"
              
            />
          </div>
          <div class="form-group">
            <label for="oxy">Oxygenated</label>
            <input
              type="number"
              id="name"
              name="oxy"
              class="form-control"
              placeholder="Enter number of oxygenated beds available"
              
            />
          </div>
          <div class="form-group">
            <label for="nonoxy">Non-Oxygenated</label>
            <input
              type="number"
              id="name"
              name="nonoxy"
              class="form-control"
              placeholder="Enter number of non-oxygenated beds available"
              
            />
          </div>
          <div class="form-group">
            <label for="icu">ICU Beds</label>
            <input
              type="number"
              id="name"
              name="icu"
              class="form-control"
              placeholder="Enter number of ICU beds available"
              
            />
          </div>
          <div class="form-group">
            <label for="ventilators">Ventilators</label>
            <input
              type="number"
              id="name"
              name="ventilators"
              class="form-control"
              placeholder="Enter number of Ventilators available"
              
            />
          </div >
          
          <button type="submit" class="btn btn-primary btn-block">
            Update
          </button>
        </form>
      </div>
    </div>
  </div>